RUSTPLUS_IP=
RUSTPLUS_PORT=
RUSTPLUS_PLAYER_ID=
RUSTPLUS_PLAYER_TOKEN=
RUSTPLUS_SERVER_NAME=.int Rust server
RUSTPLUS_WIPE_STARTED_AT=
WORKER_URL=https://rusticket.rusticket-ras.workers.dev
RUSTPLUS_BRIDGE_TOKEN=
POLL_SECONDS=60
TIME_ZONE=Europe/Moscow
